---
layout: default
---

<div class="row">
  </br>
  <div class="col-md-1 col-xs-0"></div>
  <div class="col-md-10 col-xs-12">
    <article class="post post-contents" style="margin-bottom:30px;" itemscope itemtype="http://schema.org/BlogPosting">
      </br>
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          <i class="fa fa-calendar">&nbsp;&nbsp;</i><time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">{{ page.date | date: "%b %-d, %Y %H:%M" }}</time>{% if page.author %} •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
              itemprop="name">{{ page.author }}</span></span>{% endif %}
        </p>
      </header>

      <div class="post-content" style="margin:15px;" itemprop="articleBody">
        {{ content }}
      </div>
    </article>

    <div class="clearfix"></div>
  </div>
</div>